<a name="write_feeling"></a>
<% if current_user %>
	<div class="row" id="thing_feeling_form">
		<div class="col-md-2 hidden-xs">
			<center>
				<%= image_tag(current_user.avatar_url('150x150'), :class => 'img-circle') %>
				<p><%= current_user.name %></p>
			</center>
		</div>
		<div class="col-md-10" id="feeling_form">
			<%= form_for [review, rfeeling], :html => { :role => "form" }, :remote => true do |f| %>
				<div class="form-group">
					<center><%= f.text_area :body, :class => 'form-control', :placeholder => "说点什么吧（300字以内哦）" %></center>
				</div>
				<div class="form-group"><span class="alert alert-warning" role="alert" id="new_feeling_error" style="display:none"></span><button type="submit" class="btn btn-info pull-right" id="btn_feeling" data-loading-text="正在回复">回复</button></div>
			<% end %>
		</div>
	</div>
<% else %>
	<div class="row" id="thing_feeling_form">		
		<div class="col-md-12" id="feeling_form">
			<div class="form-group">
				<center><textarea class="form-control" placeholder = "需要登录后才能回复" disabled="true"></textarea></center>
			</div>
			<div class="form-group"><span class="alert alert-warning" role="alert" id="new_feeling_error" style="display:none"></span><button type="submit" class="btn btn-info pull-right" id="btn_feeling" disabled="true">回复</button></div>
		</div>
	</div>
<% end %>