<div class="row feed_item">
					<div class="col-md-2 hidden-xs">
						<center>
							<%= image_tag(feeling.user.avatar_url('150x150'), :class => 'img-circle') if feeling.user %>
							<p><a href="#"><%= feeling.user.name if feeling.user %></a></p>
						</center>
					</div>
					<div class="col-md-9 feed_body">
						<%= feeling.body %>
						<footer>
							<time datetime="2015-1-1">30天前</time>
							<a href="#"><i class="fa fa-comments-o"></i>1</a>
							<a href="#"><i class="fa fa-share-alt"></i></a>
						</footer>
					</div>
					<div class="col-md-1 feed-like">
						<a href="#"><i class="fa fa-thumbs-up fa-fw"></i><%= feeling.up %></a>
					</div>
				</div>