<footer>
              <time><%= notification.created_at.localtime.strftime("%Y-%m-%d %H:%M:%S") %></time>
              <span class="separator">|</span>
              <%= link_to "删除", notification_path(notification), :method => :delete, 'data-del-link' => true %>
            </footer>