<div class="jumbotron">
  <img src="http://knewone.com/assets/landing_day-6d45ab622f604d12ebf7eedc7c59d46e.jpg" class="img-responsive" />
</div>

<div class="container top_container">
	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	  	<div class="row" style="margin-bottom:30px;">
	      <div class="col-xs-0 col-md-2 hidden-xs">
	        <img src="http://image.knewone.com/users/652afd377e75d654a6c7da6282f3f403.jpg!small" width="62" height="62" class="img-circle img-responsive center-block" />
	      </div>
	      <div class="col-xs-12 col-md-10">
        	<img src="http://image.knewone.com/photos/b0aec5189f60ae0c71491e27de3d7f9c.png!middle" class="img-responsive" />
	      </div>
	    </div>
	  	<div class="row" style="margin-bottom:30px;">
	      <div class="col-xs-0 col-md-2 hidden-xs">
	        <img src="http://image.knewone.com/users/652afd377e75d654a6c7da6282f3f403.jpg!small" width="62" height="62" class="img-circle img-responsive center-block" />
	      </div>
	      <div class="col-xs-12 col-md-10">
        	<img src="http://image.knewone.com/photos/66b6a416ef7eb9c78b0f691c30f52a76.jpg!middle" class="img-responsive" />
	      </div>
	    </div>
	  </div>
	  <div class="col-xs-0 col-md-4 hidden-xs">
	  	<div class="row" style="margin-bottom:30px;">
	  		<div class="col-md-12">
	  			<img src="http://image.knewone.com/promotions/73d1fa795f222ee62a4919445c2f6745.jpg!middle" class="img-responsive" />
	  		</div>
	  	</div>
	  	<div class="row" style="margin-bottom:30px;">
	  		<div class="col-md-12">
	  			<img src="http://image.knewone.com/promotions/f17c17f6799c6ea85b6f1390b0aff481.jpg!middle" class="img-responsive" />
	  		</div>
	  	</div>
	  </div>
	</div>
</div>