		<div class="col-xs-0 col-md-3 hidden-xs">
	  	<div class="row mb_30">
	  		<div class="col-md-12">
	  			<div class="actions white clearfix">
		  		</div>
		  		<div class="others white clearfix">
		  			<ul class="tags clearfix">
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						数码
		  					</a>
		  				</li>
		  				<li>
		  					<a href="#">
		  						<i class="glyphicon glyphicon-tag"></i>
		  						手机
		  					</a>
		  				</li>
		  			</ul>
		  		</div>
	  		</div>	  		
	  	</div>	  	
	  </div>