<% if current_user.blank? %>
<div class="top_container">
  <div class="row">
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-xs-12 col-md-6 white">
      <div class="page-header">
        <h3>需要登录才能继续操作</h3>
      </div>
      <%= render 'sessions/form' %>
    </div>
    <div class="col-md-3 hidden-xs"></div>
  </div>
  <div class="row" style="padding-bottom:30px;">
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-xs-12 col-md-6 white">
      <center>
        <div class="page-header">
          <h5>使用社交帐号登录</h5>
        </div>
        <a href="/auth/qq_connect"><%= image_tag("qq.png", :class => "img-rounded")%></a>
        <div class="page-header">
        </div>
      </center>
    </div>
    <div class="col-md-3 hidden-xs"></div>
  </div>
</div>
<% else %>
<div class="top_container">
  <div class="row">
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-xs-12 col-md-6 white">
      <div class="page-header">
        <h3>您没有权限进行此项操作(403)</h3>
        <%= link_to "回到首页", root_path, :class => "btn btn-success" %>
        <%= link_to "返回上一页", "javascript:history.go(-1)", :class => "btn btn-success" %>  
      </div>
    </div>
    <div class="col-md-3 hidden-xs"></div>
  </div>
</div>
<% end %>