<div class="top_container">
  <div class="row">
    <div class="col-md-3 hidden-xs"></div>
    <div class="col-xs-12 col-md-6 white">
      <div class="page-header">
        <h3>您查找的页面不存在(404)</h3>
        <%= link_to "回到首页", root_path, :class => "btn btn-success" %>
        <%= link_to "返回上一页", "javascript:history.go(-1)", :class => "btn btn-success" %>  
      </div>
    </div>
    <div class="col-md-3 hidden-xs"></div>
  </div>
</div>