@import "bootstrap-sprockets";
@import "bootstrap";

@import "compass";
@import "font-awesome";
@import "things";
@import "reviews";
@import "users";
@import "settings";
@import "lists";

@font-face {
    font-family: 'NunitoBold';
    src: asset_url('Nunito-Bold-webfont.eot');
    src: asset_url('Nunito-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         asset_url('Nunito-Bold-webfont.woff') format('woff'),
         asset_url('Nunito-Bold-webfont.ttf') format('truetype'),
         asset_url('Nunito-Bold-webfont.svg#NunitoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), asset_url("Lato-Regular.ttf") format("truetype")
}

body{
  font-family:'Lato Regular', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  color: #777777;
}

a{
  color: #777777;
}

ul{  
  list-style-type:none;
  margin:0px;
  padding-left:0px;
}

i{
  margin-right: 5px;
}

.logo_font{
  font-family: 'NunitoBold';
}

$most_top_margin: 80px;

a:link { text-decoration: none;}
a:active { text-decoration: none;}
a:hover { text-decoration: none;} 
a:visited { text-decoration: none;}

.top_container{
  margin-top: $most_top_margin;
}

.mb_30{
  margin-bottom:30px;
}

.white{
  background-color:#ffffff;
}

.login_button{
  position:absolute;
  background-color:#049cdb;
  top:40%;
  right:10%;
  z-index: 1;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;
}

.box-shadow-custom {
  @include box-shadow(black 2px 2px 10px);
}

.login_icon{
  margin-right: 30px;
}

.slogan{
  position:absolute;
  top:50%;
  left:10%;
  width: 400px;
  height: 23px;
}

.logo_img{
  position:absolute;
  top:30%;
  left:10%;
  width: 60px;
  height: 60px;
}

.logo{
  position:absolute;
  color:#049cdb;
  top:35%;
  left:15%;
  font-size: 24px;
  font-weight: bold;
}

.item{
  background-color:white;
  padding:0px;
}

.item_title{
  padding-left: 20px;
  padding-top: 15px;
}

.item_author{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.item_author a{
  margin-left: 10px;
  line-height: 24px;
}

.item_fav{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 5px;
  padding-right: 15px;
}


.spinner {
  width: 30px;
  height: 30px;
  background-color: #3c83c0;

  margin: 10px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.returnTop {
    position: fixed;
    _position: absolute;
    right: 100px;
    bottom: 0px;
    _bottom: auto;
    display: none;
    width: 40px;
    height: 40px;
    border: 1px solid #61b72e;
    border-radius:4px;
    background: #fff;
    box-shadow: 0 0 5px #F5F5F5;
    text-indent: -9999px;
    cursor: pointer;
}
.returnTop .s {
    position: absolute;
    top: -2px;
    _top: -20px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent #61b72e;
    border-style: dashed dashed solid;
}
.returnTop .b {
    position: absolute;
    top: 18px;
    left: 16px;
    height: 12px;
    width: 8px;
    background: #61b72e;
}

.bdsharebuttonbox{
  a{
    margin-right:30px;
  }
}

.pagination{
  display:block;
  float:right;
  background-color: #ffffff;
  margin:0px;
  span{
    margin:0px;
    padding:0px;
    display:inline-block;
    float:left;
    height:40px;
    line-height:40px;
    width:40px;
    text-align:center;
    vertical-align:middle;
  }
  a{
    display:block;
    color:#50c0ed;
    border-radius:0px;
    border: 0px;
    height:40px;
    width:40px;
    line-height:40px;
    &:hover{
      color:#ffffff;
      background-color: #50c0ed;
    }
  }
  .current{
    color:#ffffff;
    background-color: #7aa9cc;
  }
}