// Place all the styles related to the things controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$thing_title_background_color: #fafafa;
$white: #ffffff;

.thing_title{
	@include border-top-radius(10px);
	background-color: $thing_title_background_color;
	padding:50px;
	text-align:center;
	h1{
		font-size:24px;
		margin:0px;
	}
	h2{
		font-size:18px;
		margin:0px;
		margin-top: 30px;
	}
}

#thing_top_nav{
	background-color: $thing_title_background_color;
	.active{
		border-bottom: 2px #48B2E2 solid;
	}
}

#thing_description{
	background-color: $white;
	padding-top: 30px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

#thing_author{
	border-left: 3px solid #049cdb;
	margin-bottom: 50px;
}

.btn-square{
	border-radius:0px;
	border: 0px;
	height: 40px;
	width: 85px;
	padding: 0px;
	line-height: 40px;
}

.btn-blue{
	background-color: #8cadca;
}

.btn-flag {
	background-color: #97ceec;
}

.author_name{
	background-color: $thing_title_background_color;
	padding-left:30px;
	label{
		margin-left:20px;
		margin-right:20px;
	}
}

.post_content{
	padding-left: 30px;
	padding-right: 30px;
	img{
		@include img-responsive;
	}
	footer{
		a{
			line-height: 15px;
			margin-top: 80px;
			i{
				margin-right:3px;
			}
		}
	}
}

#thing_reviews{
	background-color: $white;
	li{
		a{
			background-color:#88B1D1;
			color:#ffffff;
			i{
				margin-right:5px;
			}
		}
	}	
}

#thing_feeling_form{
	margin: 0px;
	background-color: $white;
	padding: 30px;
	margin-bottom: 30px;
	div{
		padding: 0px;
	}
	img{
		width: 60px;
		height: 60px;
	}
}

#feeling_form{
	textarea{
		padding-left:0px;
		height:80px;
	}
}

#thing-feeds-tab{
	a{
		border-radius:0px;
		border: 0px;
		background-color: #f7f7f7;
		color: #777777;
	}
	i{
		margin-right:5px;
	}
}

.feed_item{
	margin: 0px;
	background-color: $white;
	padding: 20px;
	border: 1px #EEEEEE;
	border-style:none none dashed none;
	div{
		padding: 0px;
	}
	img{
		width: 60px;
		height: 60px;
	}
	i{
		margin-right:5px;
	}
}

.feed-like{
	a{
		color: #777777;
		margin-left: 10px;
		&:hover{
			color: #50c0ed;
		}
	}	
}

.shop{
	@include border-radius(10px);
	padding: 30px;
	margin-bottom: 20px;
	a{
		border-radius:10px;
		border: 0px;
		color: #ffffff;
		background-color: #EA764B;
		width: 100%;
		height: 40px;
		line-height: 40px;
		padding:0px;
		i{
			margin-right: 15px;
		}
		&:visited{			
			background-color: #EA764B;
			color: #ffffff;
		}
		&:hover{
			background-color: #E76534;
			color: #ffffff;
		}
	}
}

.price{
	font-size: 20px;
	margin-bottom: 20px;
}

.actions{
	padding: 0px;
	margin:0px;
	li{
		float: left;
		width: 50%;
		height: 132px;
		text-align: center;
		background-color: #ffffff;
		a{		
			height: 132px;
			display:block;	
			padding-top: 30px;
			small{
				margin-left:5px;
			}
			&:hover{
				background-color: #FAFAFA;			
			}
		}	
		i{
			font-size: 32px;
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

.fanciers{
	a{
		color: #E03C2E;
		border: 1px #EEEEEE;
		border-style:none dashed dashed none;
	}
}

.owners{
	a{
		color: #97CEEC;
		border: 1px #EEEEEE;
		border-style:none none dashed none;
	}
}

.write_feeling{
	a{
		color: #8BADCB;
		border: 1px #EEEEEE;
		border-style:none dashed dashed none;
	}	
}

.add_to_list{
	a{
		color: #EA764B;
		border: 1px #EEEEEE;
		border-style:none none dashed none;
	}
}

.tags{
	height: 60px;
	padding: 25px;
	vertical-align:middle;
	li{
		float: right;
		margin-left:20px;
		a{
			@include border-radius(5px);
			background-color:#F7F7F7;
			padding:5px 10px;
			&:hover{
				background-color:#737373;
				color:#ffffff;
			}
		}
	}
}

.feed_body{
	section{
		height: 60px;
	}
}

.metas{
	color: #999999;
	display:block;
	li{
		width:auto;
		float:left;
		margin-right:15px;
	}
}

.feed_empty{
	color: #999999;
	margin: 0px;
	background-color: $white;
	padding: 50px;
	margin-bottom: 80px;
	text-align: center;
	font-size:18px;
	i{		
		font-size: 60px;
	}
}

.thing_feelings_action{
	margin-bottom: 80px;
}

#thing_top_nav{
	i{
		margin-right:5px;
	}
	span{
		color: #999999;
		margin-left:10px;
	}
}