// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_top_nav{
	background-color: #ffffff;
	i{
		margin-right:5px;
	}
	span{
		color: #999999;
		margin-left:10px;
	}
	a{
		&:hover{
			background-color: #ffffff;
			color: #999999;
		}
	}
	.active{
		border-top: 2px #48B2E2 solid;
		background-color: #fafafa;
		a{
			&:hover{
				background-color: #fafafa;
				color: #999999;
			}
		}
	}
}

#user-mark{
	margin: 30px 0;
}

#user-name{
	height: 60px;
	line-height: 60px;
	vertical-align:middle;
}

#user-follow{
	border: 1px #EEEEEE;
	border-style:dashed none none none;
	li{
		float: left;
		width: 50%;
		a{
			display:block;
			height: 80px;
			padding-top: 15px;
			text-align: center;
			color: #aaa;
			em{
				display:block;
				color: #7aa9cc;
				font-size: 24px;
				font-style: normal;
				font-weight: normal;
				margin-top: 0px;
			}
		}
	}
	li:first-child{
		border: 1px #EEEEEE;
		border-style:none dashed none none;
	}
}

.following-list{
	margin: 10px 0 0 0;
	li{
		float: left;
		@include border-radius(5px);
		height: 90px;
		margin: 10px 0px;
		background-color: #ffffff;
		width: 48%;
		vertical-align:middle;
		img{
			width: 50px;
			height: 50px;
			margin-top: 15px;
		}
		.following_author{
			padding-top: 15px;
		}
		.following_author_name{
			font-size: 16px;
		}
		p{
			margin-top: 5px;
			font-size: 12px;
			color: #999999;
		}
		.following-btn{
			text-align: right;
			margin-top: 15px;
		}
		.btn-following-follow{
			@include border-radius(15px);
			background-color: #ffffff;
			color: #47b2e2;
			border: 1px solid #47b2e2;
			&:visited{
				background-color: #ffffff;
				color: #47b2e2;
				border: 1px solid #47b2e2;
			}
			&:hover{
				background-color: #ffffff;
				color: #47b2e2;
				border: 1px solid #47b2e2;
			}
		}
		.btn-followed-follow{
			@include border-radius(15px);
			background-color: #97ceec;
			color: #ffffff;
			border: 0px;
			&:visited{
				background-color: #97ceec;
				color: #ffffff;
				border: 0px;
			}
			&:hover{
				background-color: #97ceec;
				color: #ffffff;
				border: 0px;
			}
		}
	}
	li:nth-child(odd){
		margin-right: 30px;
	}
}

.fancy-list{
	margin: 10px 0 0 0;
	color: #999999;
	padding: 0 -15px;
	img{
		width: 100%;
		height: 182px;
	}
	li{
		float: left;
		margin: 10px 0px 20px 0;
		width: 33.3333333333%;
		padding:0 15px;
	}
	li:last-child{
		margin-right: 0px;
	}
	center{
		background-color: #ffffff;		
	}
	.fancy-thing-title{
		background-color: #ffffff;
		display:block;
		text-align: center;
		height: 50px;
		line-height: 50px;
		word-wrap:break-word;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 10px;
	}
	.fancy-list-count{
		background-color: #ffffff;
		text-align: center;
		padding-bottom: 10px;
		i{
			margin-right: 5px;
		}		
		a{
			margin-right: 10px;
		}
	}
}

.user-review{
	h5{
		font-size: 18px;
		color: #588cc7;
		background-color: #ffffff;
		margin: 0px;
		padding: 20px;
	}
	p{
		background-color: #ffffff;
		font-size: 14px;
		margin: 0px;
		padding: 20px;
	}
	span{
		margin-right: 10px;
	}
}

.feeling-review{
	p{
		.fa{
			color: #cccccc;
			font-size: 14px;
		}
		.fa-quote-left{
			margin-right: 10px;
		}
		.fa-quote-right{
			margin-left: 10px;
		}
	}
	.user-feeling-thing{
		background-color: #fff;
		margin: 0px;
		padding: 10px;
		img{
			width: 60px;
			height: 60px;
		}
		.feeling-thing-img{
			height: 60px;
		}
		.feeling-thing-title{
			background-color:#ebeced;
			height: 60px;
			font-size: 10px;
		}
		.feeling-thing-count{
			font-size: 12px;
			color: #ccc;
			a{
				i{
					margin-right: 5px;
				}
				margin-right: 10px;
			}
		}
	}
}