<div id="thing_reviews">
				<div class="no_reviews jumbotron white">
					<p>还没有人为 <%= thing.title %> 撰写评测，你想做第一个为它写评测的人么？</p>
					<ul class="list-inline">
						<li>
							<% if current_user %>
							<a href="<%= new_thing_review_path(thing) %>" target="_blank" class="btn btn_info"><i class="glyphicon glyphicon-pencil"></i><span>写评测</span></a>
							<% else %>							
							<a href="<%= new_session_path %>" class="btn btn_info"><i class="glyphicon glyphicon-pencil"></i><span>写评测</span></a>
							<% end %>
						</li>
					</ul>
				</div>
			</div>